<form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
    <% if(params.message === 'invalid_login') { %>
    <div class="error-message">
        Username or password invalid
    </div>
    <%= params.extra %>
    <% } %>
    <input required type="text" name="login" placeholder="Email"
           <% if(!params.email) { %>autofocus="on"<% } %>
           value="<%= params.email ? params.email : '' %>"
    />

    <input required type="password" name="password" placeholder="Password"
           <% if(params.email) { %>autofocus="on"<% } %>
    />
    <a href="/interaction/<%= uid %>/register">Create an account</a>
    <button type="submit" class="login login-submit">Sign-in</button>
</form>
