<h3>Create new account</h3>
<form autocomplete="off" action="/interaction/<%= uid %>/register" method="post">
    <input required type="text" name="email" placeholder="Email">
    <input required type="password" name="password" placeholder="Password">
    <button type="submit" class="login login-submit">Sign up</button>
</form>
